@charset "utf-8";
* {margin: 0; padding: 0;}
body {background:#fff;}

nav{
   background:#111;
   color:#fff;
   padding: 25px;
}

nav a {color: #fff; text-decoration:none}
nav ul {list-style:none; float:right;}
