@charset "utf-8";
* {
     margin: 0; 
     padding: 0;}
body {
     background: #fff;
     }
@font-face: "Nasa.ttf";     

/* NAV */
nav{
     background: #111;
     color: #fff;
     padding: 20px;
}

nav a {
     color: #fff; 
     text-decoration: none;
     font-family: Nasa;
     }
nav ul {
     list-style: none; 
     float:right;}
nav ul li a {
     display: inline;
     font-family: Nasa;
     margin-right:5px;
     }
nav ul li a:hover{
     color: #ccc; 
     text-decoration:underline;
     }

/* SECTION 1 */
.section1 {
     background: url("../img/bg.jpg");
     background-attachment: fixed;
     padding: 100px;
}
.section1 h1 {
     font-size: 70px;
     color: #fff; 
     text-align: center;
     text-shadow: #000 2px 2px 2px;
     font-family: Nasa;
 }
.section1 h3 {
     color: #fff;
     text-align: center;
     text-shadow: #000 2px 2px 2px;
     font-family: Nasa;
     }

/* SECTION 2 */
.section2 {
     padding: 200px; 
     background: #483d58;
     color: #fff;
     text-align: center;
}
.section2 h1{
     font-size: 50px;
     text-shadow: #000 4px 4px 4px;
}
.section2 p {
     margin-top: 15px;
     
}

/* SECTION 3 */
.section3 {
     padding: 200px;
     background: #fff;
 }
 /* FOOTER */
 footer {
     padding: 25px; 
     background: #111;
}
@media screen and (min-width: 768px){
     section1 {
     padding: 400px;
     }
 }
